body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

input, button {
    font-size: 18px;
    padding: 8px;
}

input {
    width: 150px;
    text-transform: uppercase;
}

button {
    margin-left: 8px;
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

